* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #645050b0, #da8a8acc);
  font-family: serif;
}

#text {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  gap: 1rem;
}

input {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  transition: 0.2s ease;
}

input:focus {
  outline: none;
  border-color: darkturquoise;
  box-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
}

#greet-btn {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: darkturquoise;
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

#greet-btn:hover {
  background-color: #e5b13d;
  transform: translateY(-2px);
}
