* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  outline: none;
  background-color: cyan;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: cadetblue;
}
